*{
    margin-top: 3px;
    margin-bottom: 3px;
}

.divCommentButtons{
    display: flex;
    justify-content: flex-end;
}

.commentButtons{
    display: flex;
    margin-right: 5px;
}

.commentButtonEdit{
    background-color: #2196F3;
    color: white;
}

.fixedHeight{
    min-height: 100px;
    max-height: 100px;
    border: none;
}

.greenButton{
    background-color: green;
    color: white;
}

.cancelButton{
    border: 1px solid #494949;
    color: #494949;
}

.fillWidthParent {
    width: 100%;
}

.redButton{
    border: 1px solid red;
}

mat-card{
    margin: 5px;
    transition: 3s;
}

mat-card-title{
    margin-bottom: 7px;
}