<div class="divContainer">
    <div class="divRow">
        <div class="divLogo">
            <a href="/home">logo</a>
        </div>
        <div class="divNavigationLinks">
            <a [routerLink]="['post','1']">Link #1</a>
            <a>Posts</a>
            <a href="/about">About us</a>
        </div>
        <div class="divUser">
            <a href="/login" *ngIf="this.userService.loggedIn">Log Out</a>
            <a href="/login" *ngIf="!this.userService.loggedIn">Login</a>
            <label *ngIf="!this.userService.loggedIn">/</label>
            <a href="/registration" *ngIf="!this.userService.loggedIn">Sign up</a>
        </div>
    </div>
</div>
