<div class="divContainer">
    <div class="divRow">
        <div class="divLogo">
            <a [routerLink]="['home']">logo</a>
        </div>
        <div class="divNavigationLinks">
            <a [routerLink]="['post','1']">Random Post</a>
            <a>Posts</a>
            <a [routerLink]="['about']">About us</a>
        </div>
        <div class="divUser">
            <a [routerLink]="['login']" *ngIf="this.userService.loggedIn" (click)="logout()">Log Out</a>
            <a [routerLink]="['login']" *ngIf="!this.userService.loggedIn">Login</a>
            <label *ngIf="!this.userService.loggedIn">/</label>
            <a [routerLink]="['registration']" *ngIf="!this.userService.loggedIn">Sign up</a>
        </div>
    </div>
</div>
