.addCommentButton{
    display: flex;
    margin: 10px;
    background-color: green;
    color: white;
    align-self: flex-end;
    width: 160px;
    text-align: center;
    overflow: hidden;
}

.addCommentButton::before,
.addCommentButton::after{
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    transform: rotate(-45deg);
    transition: all ease 1s;
}

.addCommentButton:hover::before,
.addCommentButton:hover::after{
    left: 100%;
}

.addCommentButton::after{
    transition-delay: 0.2s;
}

.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.margin {
    margin: 5px;
    height: 100px;
}