.posts{
    height: 78vh;
    background-image: url("src/assets/postsBackground.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.postsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}