
<div class="mainContainer">
  <div class="textkontejner">
    <div class="textContainer">
      <h1 class="h1Welcome">Dobrodošli!</h1>
      <p class="pMessage">
        Bilo da ste iskusni kuvar,
        <br />
        pocetnik ili sladokusac
        <br />
        Mi imamo sve za vas kulinarski arsenal.
        <br />
        Bilo to svecano <br />
        ili minut-jelo
      </p>
      <div class="divReadMore">
        <a class="aContact" href="#footer">
          <button class="btnReadMore">Procitaj vise... </button>
        </a>
      </div>
    </div>

    <br class="noviRedIzdvojena" />
    <div class="divThread">
      <p class="pHightlight">Specijano izdvajamo TOP recept</p>
      <div class="divThread" style="margin: 15px 3px 15px 50px !important;">
        <p class="pThread">THREAD TITLE HERE</p>
        <p class="pThread">THREAD IMAGE HERE</p>
      </div>
    </div>
  </div>
  <div class="searchContainer">
    <div class="searchRow">
      <!-- to do add search filter pipe -->
      <input class="inputSearch" placeholder="Search...">
      <button class="btnSearch">Search</button>
    </div>
  </div>
</div>

