<div class="container">
    <div class="row">
        <div class="divLeft">
            <div class="divProfileHeader">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png" />
                </div>
                <div class="textUsername">
                    {{this.username}}
                </div>
            </div>
            <div class="divProfileNavLinks">
                <button class="divFav" (click)="showFavouritePosts()">
                    Favourites
                </button>
                <button class="divMyPosts" (click)="showUserPosts()">
                    My recipes
                </button>
                <button class="divMyComments" (click)="showFollowedUsers()">
                    Followed users
                </button>
                <button class="divMyComments" (click)="showCreateNewRecipeForm()">
                    Create New Recipe
                </button>
            </div>
        </div>

        <div class="divProfileContent">
            <h3 *ngIf="getMode() === 'post'">Click on a post to navigate</h3>
            <ul class="ulContent" *ngIf="!this.showCreateNewRecipe">
                <li *ngFor="let item of displayedList" (click)="routeToContent($event)">{{item}}</li>
            </ul>
            <div class="ulContentForm" *ngIf="this.showCreateNewRecipe">

         
            <!-- <ul class="ulContentForm" *ngIf="this.showCreateNewRecipe">
                <li> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Unesite Naslov</mat-label>
                        <textarea matInput [(ngModel)]="recipeTitle" name="value"></textarea>
                    </mat-form-field>
                <!-- </li>
                <li> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Unesite sastojke</mat-label>
                        <textarea matInput [(ngModel)]="recipeIngredients" name="value"></textarea>
                    </mat-form-field>
                <!-- </li>
                <li> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Unesite nacin pripreme</mat-label>
                        <textarea matInput [(ngModel)]="recipeDesc" name="value"></textarea>
                    </mat-form-field>
                <!-- </li> -->
                <button (click)="createNewPost()">Submit</button>
            <!-- </ul> -->
        </div>
        </div>
    </div>

</div>