.centerSpiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
}

.con{
    background-image: url("src/assets/loginRegisterBackground.jpg");
    background-repeat: repeat;
}

.margins{
    margin: 10px;
}

.minWidth{
    min-width: 300px;
    max-width: 100%;
}

.post {
    display: flex;
    justify-content: center;
}

.fontTitle{
    font-size: 42px;
}

.titleButtons{
    margin-top: -7px;
}

.fontLarge{
    font-size: large;
    display: flex;
    flex-direction: row;
}

.unsubscribe{
    background-color: gray;
    color: white;
}

.displayRow{
    display: flex;
    justify-content: space-between;
}

.scrollableDiv{
    max-height: 25vh;
    min-height: 25vh;
    overflow: auto;
}

.divWidth{
    max-width: 50vw;
}

.paragraph{
    text-align: justify;
    text-justify: auto;
    padding: 10px;
}