<mat-card>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.UserRef }}</mat-card-subtitle>
    <mat-card-content>
        <h1>Sastojci:</h1>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let ingridient of post.Ingridients">{{ ingridient }}</mat-list-item>
        </mat-list>
        <h1>Postupak pripreme</h1>
        <p>
            {{ post.Description }}
        </p>
    </mat-card-content>
</mat-card>
<app-add-comment ></app-add-comment>
<div *ngIf="post.Comments.length !== 0">
    <app-comment  *ngFor="let comment of post.Comments" [comment]="comment"></app-comment>
</div>
