<div class="divContainer">
    <div class="divRow">
        
        <div className="social-icon">
            <div className="zaprati">
                <p className="zapratii">
                    Možete nas zapratiti na:
                </p>
            </div>
            <ul className="social-network">
                <li> <mat-icon>facebook</mat-icon></li>
                <li> <mat-icon>instagram</mat-icon></li>
                <li> <mat-icon>youtube</mat-icon></li>
                <li> <mat-icon>gmail</mat-icon></li>
            </ul>
        </div>
        
        <div className="prava">
            © Um3s1. Sva prava rezervisana.<br />
        </div>
    </div>
</div>
