<div class="divContainer">
    <div class="divRow">
        
        <div className="social-icon">
            <div className="zaprati">
                <p className="zapratii">
                    Možete nas zapratiti na:
                </p>
            </div>
            <ul className="social-network">
                <li> <mat-icon>facebook</mat-icon></li>
                <li> <mat-icon>instagram</mat-icon></li>
                <li> <mat-icon>youtube</mat-icon></li>
                <li> <mat-icon>gmail</mat-icon></li>
            </ul>
        </div>
        
        <div>
            <label class="labelAbove">Save the</label>
            <img src="https://www.pinclipart.com/picdir/middle/380-3807603_blog-happy-tree-cartoon-clipart.png">
            <label class="labelBelow">rainforests</label>
        </div>

        <div className="prava">
            © Um3s1. Sva prava rezervisana.<br />
        </div>
    </div>
</div>
